<footer class="bd-footer text-muted" align="center">
	  <div>
		<p style="font-size:14px;">Designed and built by <a href="https://twitter.com/anantharajuc" target="_blank" rel="noopener noreferrer">@anantharajuc</a>. <a href="https://github.com/Spring-Boot-Framework/Spring-Boot-Application-Template/graphs/contributors" target="_blank"  rel="noopener noreferrer">Contributors</a>.</p>
		<!--<p style="font-size:14px;">Currently v4.0.0-alpha.6. Code licensed <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, docs <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>-->
	  </div>
</footer>